@import '/src/scss/global';

.auth-link {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;

  &__text {
    font-weight: 400;
    color: $gray-dark;
  }

  &__link {
    color: $orange;
    font-weight: 700;
    border: none;
    background: transparent;
    cursor: pointer;
  }
}